version: "3.8"

services:
  llm-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: llm_manager
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - PORT=8000
      - LOG_LEVEL=info
    restart: on-failure
    volumes:
      - .:/app
